{% extends 'base.html' %}

{% block title %}Job Tracker{% endblock %}

{% block extra_head %}
    <!-- Additional head content specific to index page -->
{% endblock %}

{% block content %}
    <h2>Welcome to Job Tracker!</h2>
    <p>Here's how to get started:</p>
    <ol>
        <li>Click "Add Job" to log a new job or internship application. </li>
        <li>Fill in the details: company name, position, application date, etc.</li>
        <li>Track your progress in the "My Applications" section.</li>
    </ol>
{% endblock %}

{% block footer_year %}2023{% endblock %}
